@import 'bootstrapCustom';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --h-height: 110px;
  --f-height: 150px;
  @include media-breakpoint-down(xxl) {
    --h-height: 100px;
  }
  @include media-breakpoint-down(xl) {
    --h-height: 90px;
  }
  @include media-breakpoint-down(lg) {
    --h-height: 70px;
    --f-height: 65px;
  }
  @include media-breakpoint-down(sm) {
    --h-height: 45px;
  }
}

$main-font: "Montserrat";
$title-font: "Racama";
$dark: #2C2C2C;
$black: #000000;
$gray: #A3A3A3;
$light-gray: #F6F6F6;
$white: #FFFFFF;
$green: #4FAC76;
$dark-green: #236840;
$gradient: linear-gradient(21.25deg, rgba(51, 153, 171, 0.15) 22.62%, rgba(120, 216, 72, 0.15) 40.45%, rgba(145, 238, 143, 0.15) 52.82%);
$transition: 300ms ease-in-out;
$radius: 1.25em;


/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap;
}
@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
@mixin safariFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
@mixin absBG($z: 1, $top: 0%, $h: 100%) {
  position: absolute;
  top: $top;
  left: 0px;
  width: 100%;
  height: $h;
  z-index: $z;
}
@mixin clamp($count: 1, $line: 1.2em, $strict: false) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line;
  @if $strict {
    height: $line * $count;
  } @else {
    max-height: $line * $count;
  }
}
@mixin list {
  list-style: none;
  padding-left: 0px;
}
@mixin placeholder($color, $fw: 400){
  &:-moz-placeholder, &::-moz-placeholder,
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $color;
    font-weight: $fw;
  }
  &::placeholder {
    color: $color;
    font-weight: $fw;
  }
}
@mixin roundedImg($w) {
  width: $w;
  height: $w;
  border-radius: 50%;
  object-fit: cover;
}
@mixin img($fit: cover, $h: 100%, $w: 100%, $rad: $radius) {
  width: $w;
  height: $h;
  border-radius: $rad;
  object-fit: $fit;
  object-position: center;
}
@mixin shadow {
  box-shadow: 0px 8px 10px rgba(141, 141, 141, 0.05);
}

/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
  line-height: 120%;
  margin-bottom: 0px;
}

h1, h2, h4 {
  font-family: $title-font;
}
h1, .h1 {
  font-size: 3.125em;
  font-weight: 400;
  margin-bottom: 1em;
  @include media-breakpoint-down(xxl) {
    font-size: 2.7em;
  }
  @include media-breakpoint-down(lg) {
    font-size: 2em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.6em;
  }
}
h2, .h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: .5em;
  @include media-breakpoint-down(xxl) {
    font-size: 2em;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.75em;
  }
}
h3 {
  font-size: 1.875em;
  font-weight: 500;
  margin-bottom: .5em;
  @include media-breakpoint-down(xxl) {
    font-size: 1.5em;
  }
}
h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .8em;
  @include media-breakpoint-down(xxl) {
    font-size: 1.35em;
  }
}
h5 {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 1em;
  @include media-breakpoint-down(xxl) {
    font-size: 1.2em;
  }
}
h6  {
  font-size: 1em;
  font-weight: 400;
}
.fs {
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-10 {font-size: 1em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-25 {font-size: 2.5em;}
  &-30 {font-size: 3em;}
  &-35 {font-size: 3.5em;}
  &-40 {font-size: 4em;}
}
.fw {
  &-3 {font-weight: 300;}
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}


/* Form elements */
input, textarea {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $radius*0.5;
  padding: 0.725em 1.65em;
  width: 100%;
  outline: none;
  display: block;
  transition: $transition;
  @include placeholder($gray, 400);
}
input {
  &[type='checkbox'], &[type='radio']{
    @include no-appearance;
    width: 20px;
    height: 20px;
    border: 1px solid $green;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    transition: $transition;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $green;
      transition: $transition;
      opacity: 0;
    }
    &:checked::before {
      opacity: 1;
    }
  }
}
label {
  @include flex(row, flex-start, center, nowrap);
  span {flex:1;}
}
select {
  @include no-appearance();
  background-color: transparent;
  background-image: url(../assets/imgs/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}
.btn {
  @include flex(row, center, center, nowrap);
  padding: .7em 1.2em;
  text-align: center;
  transition: $transition;
  width: fit-content;
  border-radius: $radius*0.5;
  font-weight: 600;
  &-none {
    padding: 0px;
    font-weight: 400;
  }
  &-1 {
    @extend .btn;
    color: $white;
    background-color: $green;
    &:hover, &:focus, &:active, &.active {
      color: $white;
      background-color: $dark-green;
    }
  }
  &-2 {
    @extend .btn;
    color: $black;
    border: 1px solid $dark;
    background-color: transparent;
    &:hover, &:focus, &:active, &.active {
      color: $white;
      border: 1px solid $dark;
      background-color: $dark;
    }
  }
  &-3 {
    @extend .btn;
    color: $white;
    background-color: $black;
    border: 1px solid $black;
    &:hover, &:focus, &:active, &.active {
      color: $black;
      border: 1px solid $black;
      background-color: $white;
    }
  }
  &[disabled] {
    pointer-events: none;
    filter: saturate(0%);
  }
}
.form-search {
  position: relative;
  width: 250px;
  @include media-breakpoint-down(xxl) {
    width: 200px;
  }
  input {
    position: relative;
    z-index: 1;
    padding-right: 2.5em;
    padding-left: 1em;
  }
  button {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    height: 100%;
    width: 2em;
    font-size: 1.375em;
    color: $gray;
  }
}

/* Blocks */
.flex-1 {flex:1;}
.mb-6 {
  margin-bottom: 8em;
  @include media-breakpoint-down(lg) {
    margin-bottom: 6em;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 4em;
  }
}
.star-rating {
  color: $green;
  @include flex();
  font-size: 1.6em;
  svg {
    &:not(:first-child){margin-left: .25em;}
  }
}
.dropdown {
  &-toggle {
    &::after {
      background: url(../assets/imgs/chevron-down.svg) no-repeat center;
      background-size: contain;
      border: none;
      width: 8px;
      height: 6px;
    }
  }
  &-menu {
    --bs-dropdown-link-active-bg: #4FAC76;
  }
}

.product {
  background-color: $white;
  padding: .75em;
  border-radius: $radius;
  font-size: 1.25em;
  position: relative;
  overflow: hidden;
  @include safariFix();
  @include media-breakpoint-down(xl) {
    font-size: 1.1em;
  }
  &::before {
    content: '';
    @include absBG(0);
    background: url(../assets/imgs/bg/bg-gradient.jpg) no-repeat center;
    background-size: cover;
    opacity: 1;
    transition: $transition;
  }
  &:hover {
    &::before {opacity: 1;}
  }
  img {
    --height: 250px;
    position: relative;
    z-index: 1;
    background-color: $white;
    @include img(scale-down, var(--height));
    @include shadow();
    @include media-breakpoint-down(xxl) {
      --height: 230px;
    }
    @include media-breakpoint-down(xl) {
      --height: 200px;
    }
    @include media-breakpoint-down(xl) {
      --height: 40vw;
    }
  }
  figcaption {
    position: relative;
    z-index: 1;
    margin-top: 1em;
    h6 {
      @include clamp(2, 1.2em, true);
    }
  }
}

body {
  margin: 0;
  font-family: $main-font, 'Arial', 'Tahoma', 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
  position: relative;
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  @include media-breakpoint-down(lg) {
    padding: var(--h-height) 0px 0px;
  }
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  height: var(--h-height);
  background-color: transparent;
  @include media-breakpoint-down(lg) {
    position: fixed;
    background-color: $white;
    @include shadow();
  }
  .logo {
    display: block;
    margin-right: 1em;
    margin-bottom: 0.6em;
    @include media-breakpoint-down(lg) {
      margin-bottom: 0em;
    }
    img {
      width: 120px;
    }
  }
  .menu {
    @include list();
    @include flex();
    li {
      &:not(:first-child){
        margin-left: 4em;
        @include media-breakpoint-down(xxxl) {
          margin-left: 2em;
        }
        @include media-breakpoint-down(xxl) {
          margin-left: 1.5em;
        }
      }
      a {
        color: $black;
        transition: $transition;
        &:hover, &:focus {
          color: $green;
        }
        &:active, &.active {
          color: $dark-green;
        }
      }
    }
  }
  .phone {
    font-size: 1.5em;
    font-weight: 500;
    @include media-breakpoint-down(xxl) {
      font-size: 1.1em;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .cart {
    display: flex;
    font-size: 1.8em;
    @include media-breakpoint-down(xxl) {
      font-size: 1.5em;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .search-icon {
    font-size: 1.4em;
    @include media-breakpoint-down(lg) {
      color: $gray;
    }
  }
  .btn-menu {
    background-color: $green;
    color: $white;
    margin-left: 1.5em;
    font-size: 1.5em;
    padding: .15em;
    border-radius: 5px;
    @include flex();
  }
}
.offcanvas-search {
  background-color: $light-gray;
  height: fit-content !important;
  .offcanvas-body {
    @include flex();
    form {
      flex: 1;
    }
    .close {
      margin-left: 2em;
    }
  }
}

.sec-1 {
  position: relative;
  height: 850px;
  padding-bottom: 10em;
  @include media-breakpoint-down(xl) {
    height: 650px;
    padding-bottom: 5em;
  }
  @include media-breakpoint-down(lg) {
    height: 550px;
    padding-bottom: 3em;
  }
  @include media-breakpoint-down(md) {
    height: 100vw;
  }
  @include media-breakpoint-down(sm) {
    height: 130vw;
  }
  svg {
    @include absBG(1, 0px, 100%);
    .link {
      &-text {
        font-size: 1.25em;
        font-weight: 700;
        fill: $white;
        transition: $transition;
      }
      &:hover {
        .link-text {fill: lighten($color: $green, $amount: 15%);}
      }
    }
    .round {
      fill: $black;
      font-size: 1.3em;
      font-weight: 500;
      letter-spacing: 2.75px;
      transform-origin: 1409px 728px;
      animation: rotation 30s infinite linear;
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .btn-catalog {
    position: absolute;
    bottom: 2em;
    right: 17.7%;
    background-color: #2c2c2c;
    color: #fff;
    z-index: 20;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 1.25em;
    font-weight: 700;
    @include flex();
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%) scale(1.4);
      background: url(../assets/imgs/go.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.sec-2 {
  margin-top: -18em;
  position: relative;
  z-index: 25;
  width: 60%;
  @include media-breakpoint-down(xxxl) {
    width: 68%;
  }
  @include media-breakpoint-down(xxl) {
    width: 75%;
  }
  @include media-breakpoint-down(xl) {
    margin-top: -12em;
  }
  @include media-breakpoint-down(lg) {
    width: 70%;
    margin-top: -10em;
  }
  @include media-breakpoint-down(md) {
    width: 50%;
    margin-top: -16em;
  }
  
  .product {
    font-size: 1.1em;
    @include media-breakpoint-down(xl) {
      font-size: .9em;
    }
  }
}

.sec-3 {
  .grid {
    @include list();
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "area1 area2 area3";
    gap: 1.8em;
    @include media-breakpoint-down(xxl) {
      gap: 1em;
    }
    @include media-breakpoint-down(xl) {
      gap: 1em;
      grid-template-columns: 4fr 2fr;
      grid-template-rows: auto;
      grid-template-areas: "area1 area2" "area3 area3";
    }
    figure {
      position: relative;
      img {
        --height: 325px;
        @include img($h: var(--height));
        @include shadow();
        margin-bottom: 1em;
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(xxxl) {
          --height: 300px;
        }
        @include media-breakpoint-down(xxl) {
          --height: 270px;
        }
        @include media-breakpoint-down(lg) {
          --height: 220px;
        }
        @include media-breakpoint-down(md) {
          --height: 180px;
        }
      }
      figcaption {
        margin-bottom: 1em;
        h3 {margin-bottom: 0px;}
      }
    }
    &-1 {
      grid-area: area1;
      figure {
        @include flex(column-reverse, flex-start, flex-start, nowrap);
        @include media-breakpoint-down(lg) {
          height: 100%;
          flex-direction: column;
          justify-content: flex-end;
          height: 100%;
        }
      }
    }
    &-2 {
      grid-area: area2;
      figure {
        img {
          --height: 375px;
          @include media-breakpoint-down(xxxl) {
            --height: 350px;
          }
          @include media-breakpoint-down(xxl) {
            --height: 315px;
          }
          @include media-breakpoint-down(md) {
            --height: 265px;
          }
        }
        figcaption {
          @include absBG(2);
          text-align: center;
          color: $white;
          padding: 2em 1em;
        }
      }
    }
    &-3 {
      grid-area: area3;
    }
  }
}

.sec-4 {
  .img-1 {
    @include img($h: auto);
    @include shadow();
  }
  .img-2 {
    --height: 240px;
    @include img($h: var(--height));
    @include shadow();
    @include media-breakpoint-down(xxxl) {
      --height: 210px;
    }
    @include media-breakpoint-down(xxl) {
      --height: 180px;
    }
  }
  p {
    font-size: 1.25em;
    @include media-breakpoint-down(xxxl) {
      font-size: 1.1em;
    }
    @include media-breakpoint-down(xxl) {
      font-size: 1em;
    }
  }
  .svg {
    width: 100%;
    height: auto;
    .round {
      fill: $white;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: .66px;
      transform-origin: 665px 156px;
      animation: rotation 30s infinite linear;
    }
    .title {
      font-family: $title-font;
      fill: $white;
      font-size: 4.375em;
      font-weight: 400;
    }
    .text {
      font-size: 1.5em;
      font-weight: 400;
      fill: $white;
    }
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sec-5 {
  h2 {
    img {
      width: 1.34em;
      vertical-align: baseline;
    }
  }
  ul {
    font-size: 1.25em;
    @include media-breakpoint-down(xl) {
      font-size: 1.1em;
    }
    @include media-breakpoint-down(lg) {
      font-size: 1em;
    }
    li {
      &:not(:first-child){
        margin-left: 2em;
        @include media-breakpoint-down(xl) {
          margin-left: 1em;
        }
      }
    }
  }
  .product {
    img {
      --height: 330px;
      @include media-breakpoint-down(xxxl) {
        --height: 300px;
      }
      @include media-breakpoint-down(xl) {
        --height: 260px;
      }
      @include media-breakpoint-down(xl) {
        --height: 40vw;
      }
    }
  }
}
.offers-slider {
  position: unset;
  .swiper-button-prev,
  .swiper-button-next {
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    &::after {
      color: $dark;
      font-size: 1.85em;
    }
  }
  .swiper-button-prev {
    left: 4em;
    @include media-breakpoint-down(xxl) {
      left: 2em;
    }
  }
  .swiper-button-next {
    right: 4em;
    @include media-breakpoint-down(xxl) {
      right: 2em;
    }
  }
}

.sec-6 {
  margin-top: 15em;
  @include media-breakpoint-down(xxxl) {
    margin-top: 10em;
  }
  @include media-breakpoint-down(lg) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 6em;
      background: url(../assets/imgs/bg/bg-palegreen.jpg) no-repeat center;
      background-size: cover;
    }
  }
  .box {
    position: relative;
    z-index: 1;
    background: url(../assets/imgs/bg/bg-palegreen.jpg) no-repeat center;
    background-size: cover;
    border-radius: $radius;
    padding: 3em 9em 3em 30%;
    @include shadow();
    @include media-breakpoint-down(xxxl) {
      padding: 3em 6em 3em 30%;
    }
    @include media-breakpoint-down(xxl) {
      padding: 3em 3em 3em 30%;
    }
    @include media-breakpoint-down(xl) {
      padding: 2em 2em 2em 22%;
    }
    @include media-breakpoint-down(lg) {
      background: unset;
      padding: 1em;
      box-shadow: none;
      h2 {
        margin-left: 15%;
      }
    }
    form {
      @include flex(row, flex-start, stretch, wrap);
      font-size: 1.2em;
      @include media-breakpoint-down(xl) {
        font-size: 1em;
      }
      @include media-breakpoint-down(lg) {
        width: 80%;
        margin: 0 auto;
      }
      input {
        width: 37%;
        margin-right: 3%;
        @include media-breakpoint-down(lg) {
          width: 100%;
          margin-right: 0%;
          margin-bottom: 1em;
          order: 1;
        }
      }
      button {
        width: 20%;
        @include media-breakpoint-down(lg) {
          width: fit-content;
          order: 3;
          margin: 0 auto;
        }
      }
      p {
        width: 100%;
        margin-top: .5em;
        @include media-breakpoint-down(xl) {
          font-size: .9em;
        }
        @include media-breakpoint-down(lg) {
          order: 2;
          margin-top: 0px;
          margin-bottom: 1em;
        }
      }
    }
  }
  .img {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 1%;
    width: 30%;
    @include media-breakpoint-down(xl) {
      left: -3%;
      width: 26%;
    }
    @include media-breakpoint-down(lg) {
      bottom: calc(100% - 6em);
      width: 20%;
    }
  }
}

.sec-7 {
  .review {
    background-color: $white;
    color: $black;
    border-radius: $radius;
    padding: 2em;
    font-family: $title-font;
    text-align: center;
    font-size: 1.1em;
    @include media-breakpoint-down(xl) {
      font-size: 1em;
      padding: 1.5em;
    }
    .star-rating {
      margin-bottom: 1em;
    }
  }
  .reviews-slider {
    position: relative;
    padding-bottom: 5em;
    .swiper-slide-active {
      .review {
        background-color: $dark;
        color: $white;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 3em;
      height: 3em;
      top: unset;
      bottom: 0px;
      transform: unset;
      margin: 0px;
      border-radius: $radius*.5;
      background-color: $dark;
      color: $white;
      @include media-breakpoint-down(xl) {
        width: 2.5em;
        height: 2.5em;
      }
      &::after {
        font-size: 1.3em;
        line-height: 130%;
      }
    }
    .swiper-button-prev {
      left: unset;
      right: calc(50% + 1.5em);
    }
    .swiper-button-next {
      right: unset;
      left: calc(50% + 1.5em);
    }
  }
}

.sec-8 {
  .title {
    background: url(../assets/imgs/bg/bg-green.jpg) no-repeat;
    background-size: cover;
    color: $white;
    @include flex(row, space-between, center, nowrap);
    border-radius: $radius;
    padding: 1.7em 2em;
    @include media-breakpoint-down(lg) {
      padding: 1em 1.5em;
    }
  }
  .news {
    position: relative;
    img {
      --h: 315px;
      @include img($h: var(--h));
      @include media-breakpoint-down(xxxl) {
        --h: 285px;
      }
      @include media-breakpoint-down(xxl) {
        --h: 250px;
      }
      @include media-breakpoint-down(lg) {
        --h: 220px;
      }
    }
    figcaption {
      @include flex(row, space-between, center, nowrap);
      margin-bottom: 1em;
      h6 {
        font-size: .95em;
        font-weight: 500;
      }
      a {
        background-color: $dark;
        color: $white;
        font-size: 1em;
        width: 1.5em;
        height: 1.5em;
        border-radius: $radius*.25;
        margin-left: 1em;
        @include flex();
        transition: $transition;
        &:hover {
          background-color: $dark-green;
        }
      }
    }
  }
}

.sec-9 {
  --offset: 13%;
  @include media-breakpoint-down(lg) {
    --offset: 0%;
  }
  .container {
    position: relative;
    .homuncule {
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 10;
      width: calc(var(--offset) + 3em);
      height: 100%;
      object-fit: contain;
      object-position: left bottom;
      @include media-breakpoint-down(lg) {
        position: relative;
        bottom: unset;
        left: unset;
        width: 250px;
        height: 240px;
        object-fit: cover;
        object-position: center top;
        margin: 0 auto 0 35%;
      }
    }
    .title {
      background: url(../assets/imgs/bg/bg-blue.jpg) no-repeat;
      background-size: cover;
      color: $white;
      border-radius: $radius;
      padding: 1.7em 0em;
      padding-left: var(--offset);
      margin-bottom: 2em;
      @include media-breakpoint-down(lg) {
        padding: 1em;
      }
    }
  }
  .quiz {
    --w: 200px;
    position: relative;
    @include media-breakpoint-down(lg) {
      background-color: $light-gray;
      border-radius: $radius;
      @include shadow();
      --w: 150px;
      @include flex(row, flex-start, stretch, wrap);
      padding: 2em;
    }
    &-pagination {
      position: absolute;
      top: 0px;
      left: var(--offset);
      width: var(--w);
      height: 50px;
      @include media-breakpoint-down(lg) {
        height: unset;
        width: 30%;
        position: relative;
        h5 {margin-bottom: .5em;}
      }
      &-bullets {
        @include flex(row, flex-start, center, nowrap);
        div {
          background-color: rgba($green, .5);
          width: $radius*.5;
          height: $radius*.5;
          border-radius: $radius*.5;
          transition: $transition;
          &:not(:first-child){margin-left: 1em;}
          &.active {
            background-color: rgba($green, 1);
            width: 3em;
          }
        }
      }
    }
    &-top {
      margin-left: var(--offset);
      position: relative;
      z-index: 1;
      padding-left: var(--w);
      height: 70px;
      @include flex(column, center, flex-start, nowrap);
      @include media-breakpoint-down(lg) {
        padding-left: 0px;
        height: unset;
        width: 70%;
      }
      h3 {
        margin-bottom: 0px;
        @include media-breakpoint-down(lg) {
          font-size: 1.2em;
        }
      }
    }
    &-main {
      margin-left: calc(var(--offset) - 4em);
      position: relative;
      z-index: 1;
      background-color: $light-gray;
      border-radius: $radius;
      @include shadow();
      padding: 4em 8em;
      margin-top: 1em;
      @include flex();
      @include media-breakpoint-down(xxxl) {
        padding: 3em 5em;
      }
      @include media-breakpoint-down(xl) {
        padding: 2em 1em;
        margin-left: var(--offset);
        font-size: .8em;
      }
      @include media-breakpoint-down(lg) {
        background-color: transparent;
        box-shadow: none;
        @include flex(row, space-between, center, wrap);
        padding: 0px;
        margin-top: 2em;
        width: 100%;
        button {
          width: fit-content;
          order: 2;
          margin-top: 1em;
        }
        ul {
          width: 100%;
          flex: auto;
          order: 1;
        }
      }
      h3 {
        @include media-breakpoint-down(xxxl) {
          font-size: 1.5em;
        }
      }
      .variant {
        width: 100%;
        &-visual {
          width: 100%;
          transition: $transition;
          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: $radius;
            border: 3px solid transparent;
            background-color: $white;
            transition: $transition;
            @include media-breakpoint-down(xxxl) {
              height: 200px;
            }
            @include media-breakpoint-down(xl) {
              height: 180px;
            }
            @include media-breakpoint-down(md) {
              height: 140px;
            }
          }
        }
        input:checked + .variant-visual {
          color: $green;
          img {
            border-color: $green;
          }
        }
      }
      .variant-2 {
        width: 100%;
        &-visual {
          width: 100%;
          background-color: $white;
          border: 1px solid $black;
          border-radius: $radius;
          transition: $transition;
          padding: .85em;
        }
        input:checked + .variant-2-visual {
          color: $white;
          background-color: $green;
          border-color: $green;
        }
      }
    }
  }
}


footer {
  &.desktop {
    height: var(--f-height);
    background-color: #1F1F1F;
    color: $white;
    @include media-breakpoint-down(xl) {
      font-size: .9em;
    }
    ul {
      @include list();
      @include flex(row, flex-start, center, nowrap);
      li {
        &:not(:first-child) {
          margin-left: 2em;
          @include media-breakpoint-down(xl) {
            margin-left: 1em;
          }
        }
      }
    }
    a {
      transition: $transition;
      color: $white;
      &:hover, &:focus {
        color: lighten($green, 15%);
      }
    }
    .bb-05 {
      border-bottom: 1px solid rgba($white, .5);
      line-height: 90%;
      display: inline-block;
    }
    .devs {
      @include flex();
    }
  }
  &.mobile {
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: var(--f-height);
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(7, 0, 87, 0.1);
    nav {
      height: 100%;
      ul {
        height: 100%;
        @include list();
        @include flex(row, space-evenly, center, nowrap);
        li {
          a, button {
            @include flex(column, center, center, nowrap);
            svg {
              font-size: 1.75em;
              padding: 0.1em;
              border-radius: 5px;
              stroke-width: 1.25px;
            }
            span {
              font-size: .7em;
              color: $gray;
              margin-top: 0.2em;
            }
            &.active {
              svg {
                background-color: $green;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}