@import 'bootstrapCustom';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --h-height: 110px;
  --f-height: 150px;
  @include media-breakpoint-down(md) {
    --h-height: 70px;
  }
  @include media-breakpoint-down(sm) {
    --h-height: 55px;
    --f-height: 64px;
  }
}

$main-font: "Montserrat";
$title-font: "Racama";
$dark: #2C2C2C;
$black: #000000;
$gray: #A3A3A3;
$light-gray: #F6F6F6;
$white: #FFFFFF;
$green: #4FAC76;
$dark-green: #236840;
$gradient: linear-gradient(21.25deg, rgba(51, 153, 171, 0.15) 22.62%, rgba(120, 216, 72, 0.15) 40.45%, rgba(145, 238, 143, 0.15) 52.82%);
$texture: url(./imgs/texture.png);
$transition: 300ms ease-in-out;
$radius: 1.25em;


/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap;
}
@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
@mixin safariFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
@mixin absBG($z: 1, $top: 0%, $h: 100%) {
  position: absolute;
  top: $top;
  left: 0px;
  width: 100%;
  height: $h;
  z-index: $z;
}
@mixin clamp($count: 1, $line: 1.2em, $strict: false) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line;
  @if $strict {
    height: $line * $count;
  } @else {
    max-height: $line * $count;
  }
}
@mixin list {
  list-style: none;
  padding-left: 0px;
}
@mixin placeholder($color, $fw: 400){
  &:-moz-placeholder, &::-moz-placeholder,
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $color;
    font-weight: $fw;
  }
  &::placeholder {
    color: $color;
    font-weight: $fw;
  }
}
@mixin roundedImg($w) {
  width: $w;
  height: $w;
  border-radius: 50%;
  object-fit: cover;
}
@mixin img($fit: cover, $h: 100%, $w: 100%, $rad: $radius) {
  width: $w;
  height: $h;
  border-radius: $rad;
  object-fit: $fit;
  object-position: center;
}
@mixin shadow {
  box-shadow: 0px 8px 10px rgba(141, 141, 141, 0.05);
}

/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
  line-height: 120%;
  margin-bottom: 0px;
}

h1, h2, h4, h5 {
  font-family: $title-font;
}
h1, .h1 {
  font-size: 3.125em;
  font-weight: 400;
  margin-bottom: 1em;
}
h2, .h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.875em;
  font-weight: 500;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .8em;
}
h5 {
  font-size: 1.25em;
  font-weight: 400;
}
h6  {
  font-size: 1em;
  font-weight: 400;
}
.fs {
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-10 {font-size: 1em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-25 {font-size: 2.5em;}
  &-30 {font-size: 3em;}
  &-35 {font-size: 3.5em;}
  &-40 {font-size: 4em;}
}
.fw {
  &-3 {font-weight: 300;}
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}


/* Form elements */
input, textarea {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $radius*0.5;
  padding: 0.725em 1.65em;
  width: 100%;
  outline: none;
  display: block;
  transition: $transition;
  @include placeholder($gray, 400);
}
input {
  &[type='checkbox'], &[type='radio']{
    @include no-appearance;
    width: 20px;
    height: 20px;
    border: 1px solid $green;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    transition: $transition;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $green;
      transition: $transition;
      opacity: 0;
    }
    &:checked::before {
      opacity: 1;
    }
  }
}
select {
  @include no-appearance();
  background-color: transparent;
  background-image: url(../assets/imgs/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}
.btn {
  @include flex(row, center, center, nowrap);
  padding: .5em 1em;
  text-align: center;
  transition: $transition;
  width: fit-content;
  border-radius: $radius*0.5;
  &-1 {
    @extend .btn;
    color: $white;
    background-color: $green;
    &:hover, &:focus, &:active, &.active {
      color: $white;
      background-color: $dark-green;
    }
  }
  &-2 {
    @extend .btn;
    color: $black;
    border: 1px solid $dark;
    background-color: transparent;
    &:hover, &:focus, &:active, &.active {
      color: $white;
      border: 1px solid $dark;
      background-color: $dark;
    }
  }
}

.flex-1 {flex:1;}
.mb-6 {margin-bottom: 6em;}

body {
  margin: 0;
  font-family: $main-font, 'Arial', 'Tahoma', 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
  position: relative;
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  height: var(--h-height);
  background-color: transparent;
}

.sec-1 {
  position: relative;
  height: 847px;
  padding-bottom: 10em;
  svg {
    @include absBG(1, 0px, 100%);
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .btn-catalog {
    position: absolute;
    bottom: 2em;
    right: 17.7%;
    background-color: #2c2c2c;
    color: #fff;
    z-index: 20;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 1.25em;
    font-weight: 700;
    @include flex();
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%) scale(1.4);
      background: url(../assets/imgs/go.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.sec-2 {
  margin-top: -18em;
  position: relative;
  z-index: 5;
}
.product {
  background-color: $white;
  padding: .75em;
  border-radius: $radius;
  font-size: 1.25em;
  position: relative;
  overflow: hidden;
  @include safariFix();
  &::before {
    content: '';
    @include absBG(0);
    background: $texture, $gradient;
    background-size: cover;
    background-blend-mode: overlay;
    opacity: 1;
    transition: $transition;
  }
  &:hover {
    &::before {opacity: 1;}
  }
  img {
    --height: 250px;
    position: relative;
    z-index: 1;
    background-color: $white;
    @include img(scale-down, var(--height));
    @include shadow();
  }
  figcaption {
    position: relative;
    z-index: 1;
    margin-top: 1em;
    h6 {
      @include clamp(2, 1.2em, true);
    }
  }
}

.sec-3 {
  .grid {
    @include list();
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "area1 area2 area3";
    gap: 1.8em;
    figure {
      position: relative;
      img {
        --height: 325px;
        @include img($h: var(--height));
        @include shadow();
        margin-bottom: 1em;
        position: relative;
        z-index: 1;
      }
      figcaption {
        margin-bottom: 1em;
      }
    }
    &-1 {
      grid-area: area1;
    }
    &-2 {
      grid-area: area2;
      figure {
        img {
          --height: 375px;
        }
        figcaption {
          @include absBG(2);
          text-align: center;
          color: $white;
          padding: 2em 1em;
        }
      }
    }
    &-3 {
      grid-area: area3;
    }
  }
}

.sec-4 {
  .img-1 {
    @include img($h: auto);
    @include shadow();
  }
  .img-2 {
    --height: 240px;
    @include img($h: var(--height));
    @include shadow();
  }
  p {font-size: 1.25em;}
  .svg {
    width: 100%;
    height: auto;
    .round {
      fill: $white;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: .66px;
    }
    .title {
      font-family: $title-font;
      fill: $white;
      font-size: 4.375em;
      font-weight: 400;
    }
    .text {
      font-size: 1.5em;
      font-weight: 400;
      fill: $white;
    }
  }
}

.sec-5 {
  h2 {
    img {
      width: 1.34em;
      vertical-align: baseline;
    }
  }
  ul {
    font-size: 1.25em;
    li {
      &:not(:first-child){margin-left: 2em;}
    }
  }
  .product {
    img {
      --height: 330px;
    }
  }
}
.offers-slider {
  position: unset;
  .swiper-button-prev,
  .swiper-button-next {
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
  }
  .swiper-button-prev {left: 4em;}
  .swiper-button-next {right: 4em;}
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $dark;
    font-size: 1.85em;
  }
}

footer {
  height: var(--f-height);
  background-color: #1F1F1F;
  color: $white;
  ul {
    @include list();
    @include flex(row, flex-start, center, nowrap);
  }
}
